body {
  margin: 0px;
  width: 100%;
}
.main {
  background: url(mainImage.png);
  height: 880px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  margin-top: -50px;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-top: 35px;
  margin-left: 100px;
}

.menubalk {
  margin-right: 20px;
  color: white;
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.menu {
  height: 20px;
  margin-top: -0px;
}

.started {
  margin-top: 260px;
  text-align: center;
  color: white;
}

.toggle {
  background-color: rgb(223, 177, 177);
  opacity: 0.9;
  height: 500px;
  display: flex;
  justify-content: flex-end;

  margin-left: 400px;
  margin-right: 122px;
  margin-top: -603px;
}
ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.li {
  display: flex;
  justify-content: center;
  height: 25%;
  list-style: none;
  border: 2px solid white;
  margin: 10px;

  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  font-size: 50px;
}

.recipes {
  margin-top: -35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  margin-bottom: 25px;
  font-weight: bold;
}

.favorite {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  background-color: transparent;
  color: white;
  border-color: white;
}

.button {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 20px 68px;
  border: 2px solid white;
  font-size: 20px;
}

.send {
  margin-top: 35px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.cuisines {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}

.recipeItem {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.recipeItem img {
  min-width: 100%;
  object-fit: cover;
}

.recipeContent {
  position: absolute;
  color: white;
}
.recipeContent h4 {
  margin-top: -15px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.recipeContent p {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

.counter {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.countup {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.ctext {
  margin-top: 2px;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
  color: gray;
}

.browse {
  display: flex;
  justify-content: center;
  position: relative;

  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.browse::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 10px;
  bottom: 0;

  border-bottom: 2px solid rgb(250, 171, 171);
}

@media screen and (max-width: 549px) {
  .login {
    margin-right: 20px;
  }

  .logo {
    margin-left: 50px;
  }
  .toggle {
    margin-left: 50px;
    margin-right: 40px;
  }

  .recipeItem {
    width: 100%;
  }
  .countup {
    font-size: 20px;
  }
  .counter {
    margin-left: 20px;
    margin-right: 20px;
  }

  .phone {
    margin-left: 0px;
  }
  .nav {
    left: 43px;
    margin-top: -623px;
  }
  .connect {
    flex-direction: column;
  }
}
@media only screen and (min-width: 550px) and (max-width: 759px) {
  .nav {
    left: 43px;
    margin-top: -623px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 1025px) {
  .recipeItem {
    width: 50%;
  }
  .countup {
    font-size: 25px;
  }
  .counter {
    margin-left: 50px;
    margin-right: 50px;
  }
  .toggle {
    margin-left: 100px;
  }
  .phone {
    margin-left: 220px;
  }
  .nav {
    left: 263px;
  }
  .connect {
    flex-direction: column;
  }
  .intro {
    text-align: center;
  }
}
